<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background: url('/views/images/bg.jpg') no-repeat center center fixed;
      background-size: cover;
      height: 50vh;
      margin: 0;
    }

    .card:hover{
     transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
     }
    .card {
      margin-top: 20px;
      max-width: 346px;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    }
    .card img {
      height: 150px;
      object-fit: cover;
    }
  </style>
</head>
<body>

  <div class="container"style="margin-top: 15%;">
    <div class="row">
      <div class="col-md-6" >
        <div onclick="location.href='/teacher/login'" class="card" style="margin-left: 35%;">
          <img src="/views/images/teacher.jpg"  alt="Teacher Image">
          <div class="card-body">
            <h5 class="card-title" style="margin-left:35%;">Teacher</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div onclick="location.href='/student/resultcheck'" class="card">
          <img src="/views/images/student.jpg"  alt="Teacher Image">
          <div class="card-body">
            <h5 class="card-title" style="margin-left:35%;">Student</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>