<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: sans-serif;
            line-height: 1.5;
            min-height: 100vh;
            background: #f3f3f3;
            flex-direction: column;
            margin: 0;
        }

        .main {
            background-color: #f4eded;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            padding: 10px 20px;
            transition: transform 0.2s;
            width: 500px;
            text-align: center;
        }

        h1 {
            color: #6170b0;
        }

        label {
            display: block;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 5px;
            text-align: left;
            color: #555;
            font-weight: bold;
        }

        input {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            padding: 15px;
            border-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            border: none;
            color: white;
            cursor: pointer;
            background-color: #6170b0;
            width: 100%;
            font-size: 16px;
        }

        .wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div style="color: crimson;" role="alert">
        <% if(typeof message !='undefined' ){ %>
            <div class="alert alert-success" role="alert">
                <%= message %>
                    <br></br>
            </div>
            <% } %>
    </div>
    <div class="main">
        <h1>Enter Student Detail</h1>
        <form action="/teacher/addRecord" method="post">
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Student Name" required>

            <label for="rollNo">Roll Number:</label>
            <input type="number" id="rollNo" name="rollNo" placeholder="Enter student Roll number" required>

            <label for="rollNo">Class:</label>
            <input type="text" id="class" name="class" placeholder="Enter student class" required>

            <label for="dob">Date of Birth:</label>
            <input type="text" id="dob" name="dob" placeholder="Enter student DOB" required>

            <label for="score">Marks:</label>
            <input type="number" id="score" name="score" placeholder="Enter marks out of 100" required maxlength="3" max="100">
            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
        <% if(typeof success_message !='undefined' ){ %>
            <h3>
                <%= success_message %>
            </h3>
            <% } %>
    </div>
</body>

</html>